body {
    margin: 0;
    color: gray;
    font-size: 13px;
}

.f-left {
    float: left;
}

.container {
    width: 60%;
    margin: auto;
}

h1 {
    margin: 0;
    padding-top: 15px;
}

.bg1 {
    background-color: lightgray;
}

.bgwhite {
    color: white;
}

.div1 {
    width: 65%;
}

.div2 {
    width: 30%;
    padding: 1rem;
}

.div3 {
    width: 55%;
    background-color: gray;
    margin-bottom: 0;
}

.div4 {
    margin-left: 2rem;
    width: 40%;
}

.nav {
    height: 70px;
}

.bgblack {
    background-color: black;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: justify;
}

.img-l {
    margin: 0 20px 10px 0;
}

.img-r {
    float: right;
    border: 5px solid lightgray;
    margin: 0 0 10px 10px;
}

.footer {
    height: 400px;
    padding: 20px 0;
}

.row2 {
    display: inline-block;
}

.copyright {
    margin: 1rem 0 1rem 0;
}