body {
    margin: 0;
    color: gray;
    font-size: 13px;
}

.container {
    width: 60%;
    margin: auto;
}

h1 {
    margin: 0;
    padding-top: 15px;
}

.bg1 {
    background-color: lightgray;
}

.bgwhite {
    color: white;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.div2,
.div1 {
    width: 46%;
    padding: 1rem;
}

.div2 ul {
    list-style-type: none;
    padding: 0;
}

.div2 p {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.bgblack {
    background-color: black;
}

.nav {
    height: 70px;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.img-l {
    margin: 0 0 10px 10px;
}

.img-r {
    border: 5px solid lightgray;
    margin: 0 10px 10px 0;
}

.footer {
    height: 400px;
    padding: 20px 0px;
}

.copyright {
    margin: 1rem 0 1rem 0;
}

.row {
    display: inline-block;
}